---
import Domain from './_Domain.astro';
---

<h3>CDNs</h3>
<div class="domains"><Domain>cdn.jsdelivr.net</Domain><Domain>esm.sh</Domain></div>
<p>✓ 0K already uses this</p>
<p>These CDNs serve HTML and/or SVG. Push to GitHub to use.</p>

<h3>IPFS</h3>
<div class="domains">
  <Domain>ipfs.io</Domain><Domain>dweb.link</Domain>
</div>
<p>✓ 0K already uses this</p>
<p>
  Upload a folder once, view across all IPFS gateways. <a href="https://kendell.dev/blog/howtoipfs/"
    >Learn how.</a
  >
</p>

<h3>Google AMP</h3>
<div class="domains"><Domain>cdn.ampproject.org</Domain></div>
<p>⚠ This <strong>isn't</strong> for hosting sites</p>
<p>
  Rather, <a href="https://kendell.dev/milliblog/gamp/">through these steps</a>, you can Use AMP's
  CDN to send and receive data.
</p>

<h3 id="other">Other</h3>
<div class="domains">
  <Domain>codehs.me</Domain><Domain>techsmart.cc</Domain><Domain>storage.googleapis.com</Domain
  ><Domain>web.app</Domain><Domain>firebaseapp.com</Domain><Domain>pages.gay</Domain>
</div>
<p>
  🛈 Assorted hosting services. To host 0K: you probably want to use <a
    href="https://github.com/abndnce/0k/releases/download/latest/selfhost-0k.zip">this version</a
  >. If you don't want a version powered by jsDelivr, there's a <a
    href="https://github.com/abndnce/0k/releases/download/latest/selfhost-0k-assets-esmsh.zip"
    >esm.sh</a
  >, <a
    href="https://github.com/abndnce/0k/releases/download/latest/selfhost-0k-assets-statically.zip"
    >Statically</a
  >, and <a
    href="https://github.com/abndnce/0k/releases/download/latest/selfhost-0k-assets-colocated.zip"
    >assets-included</a
  > version.
</p>

<style>
  h3 {
    display: flex;
    align-items: center;
    height: 2rem;
    border-radius: 2rem;
    padding-inline: 0.5rem;
    margin-top: 1rem;
    margin-inline: -0.5rem;
    align-self: start;
    background-color: var(--m3c-primary-container-subtle);
    color: var(--m3c-on-primary-container-subtle);
    &:target {
      background-color: var(--m3c-primary-container);
      color: var(--m3c-on-primary-container);
    }
  }
  .domains {
    display: flex;
    flex-wrap: wrap;
    margin-inline: -0.5rem;
  }
  p {
    margin-top: 0.5rem;
  }
  p > a {
    color: var(--m3c-primary);
    text-decoration: underline;
  }
</style>
